.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: #7B1B1C;
  border-radius: 20px 20px 10px 10px;
  width: 300px;
  overflow: hidden;
}

.header {
  position: relative;
  height: 150px;
  background-color: antiquewhite;
  border-radius: 20px;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.body {
  display: flex;
  flex-direction: column;
  height: 200px;
  text-align: center;
  align-content: center;

  h2 {
    color: #f9ece4;
    margin-left: 10px;
    margin-top: 1px;
  }

  .formSection {
    display: flex;
    flex-direction: row;
    align-items: center;

    input {
      display: block;
      width: 80%;
      margin-bottom: 10px;
      margin: 10px;
      color: #7B1B1C;
      background-color: #f9ece4;
      border: none;
      outline: none;
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

      &::placeholder {
        color: #7B1B1C;
      }
    }

    img {
      cursor: pointer;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(0.95);
      }
    }
  }

  .numberList {
    flex: 1;
    overflow-y: auto;
    max-height: 100px; 
    margin: 10px;
    background-color: #f9ece4;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
  }

  ul {
    overflow: auto;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;

    li {
      color: #7B1B1C;
      margin-right: 5px;

      &:not(:last-child)::after {
        content: ",  ";
      }
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    button {
      border: none;
      border-radius: 5px;
      height: 30px;
      width: 130px;
      font-family: 'Neutral Face';
      font-size: 10px;
      transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      
      &:hover {
        transform: scale(1.05);
      }
    }

    button:nth-child(1) {
      color: #7B1B1C;
      font-size: 15px;
      position: relative;
      overflow: hidden;

      span {
        position: relative;
        z-index: 1;
      }
    }

    button:nth-child(2) {
      background-color: transparent;
      border: 1px solid #f9ece4;
      color: #f9ece4;
      width: 60px;

      &:hover {
        background-color: #f9ece4;
        color: #7B1B1C;
      }
    }
  }
}
